
data = "{{HEAVY_IQ_LOCATION}}"

[iq]
heavydb_host = "{{HEAVYDB_SERVICE_NAME}}"
heavydb_username = "admin"
heavydb_password = "HyperInteractive"
heavydb_port = {{HEAVYDB_PORT}}
enable_str_literal_correction = true
enable_debug_endpoints = false
heavyiq_log_level = "DEBUG"
access_log_level = "DEBUG"
